<div class="p-12">
  <ul class="flex justify-between">
    <li class="text-3xl font-bold">Netflix</li>
    <div class="flex">
      <li class="mx-2 my-1">
        <select class="border-2">
          <option value=" English">English</option>
          <option value=" Nepali">Nepali</option>
          <option value=" Hindi">Hindi</option>
          <option value=" Kannada">Kannada</option>
        </select>
      </li>
      <li>
        <button class="bg-red-700 mr-5 px-4 p-1 rounded-lg text-white">
          SignIn
        </button>
      </li>
    </div>
  </ul>
</div>
